In [1]:
import pandas as pd
import numpy as np
import streamlit as st

In [2]:
st.write(""""
Heart Disease Prediction App , this app predicts the person is having ** heart disease ** or not """)

In [3]:
st.sidebar.header('User Input Parameters')

In [8]:
def user_input_features():
    sex      =st.sidebar.slider('Sex',0,1,1)
    cp       =st.sidebar.slider('Cp',0,3,1)
    trestbps =st.sidebar.slider('Trestbps',94,200,100)
    restecg  =st.sidebar.slider('Restecg',0,2,1)
    thalach  =st.sidebar.slider('Thalach',90,202,100)
    exang    =st.sidebar.slider('Exang',0,1,1)
    oldpeak  =st.sidebar.slider('Oldpeak',0.0,6.2,0.1)
    slope    =st.sidebar.slider('Slope',0,2,1)
    ca       =st.sidebar.slider('Ca',0,4,1)
    thal     =st.sidebar.slider('Thal',0,3,1)
    
    data={ 'sex':sex,
           'cp':cp,
           'trestbps':trestbps,
           'restecg':restecg,
           'thalach':thalach,
           'exang':exang,
           'oldpeak':oldpeak,
           'slope':slope,
           'ca':ca,
           'thal':thal}
    features=pd.DataFrame(data,index=[0])
    return features

In [9]:
df= user_input_features()

In [10]:
st.subheader('User Input Parameters')

In [11]:
st.write(df)

In [12]:
sk=pd.read_csv('heart-disease.csv')

In [13]:
sk=sk[['sex','cp','trestbps','restecg','thalach','exang','oldpeak','slope','ca','thal','target']]

In [14]:
sk

,sex,cp,trestbps,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,1,3,145,0,150,0,2.3,0,0,1,1
1,1,2,130,1,187,0,3.5,0,0,2,1
2,0,1,130,0,172,0,1.4,2,0,2,1
3,1,1,120,1,178,0,0.8,2,0,2,1
4,0,0,120,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
298,0,0,140,1,123,1,0.2,1,0,3,0
299,1,3,110,1,132,0,1.2,1,0,3,0
300,1,0,144,1,141,0,3.4,1,2,3,0
301,1,0,130,1,115,1,1.2,1,1,3,0
302,0,1,130,0,174,0,0.0,1,1,2,0

In [15]:
x=sk.iloc[:,0:10].values

In [16]:
y=sk.iloc[:,-1].values

In [18]:
np.random.seed(97)
from sklearn.linear_model import LogisticRegression

model=LogisticRegression(solver='liblinear',C=0.23357214690901212)
       
model.fit(x,y)

predictions=model.predict(df)

In [20]:
st.subheader('Predictions')
st.write(predictions)